
header {
  width: 100%;
  background-color: var(--header-backgroung);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--header-text-color);
  font-family: 'IranSans';
}

.inner-wraper{
     padding: 16px;
}

.header-link ul {
     display: flex;  
     list-style-type: none;  
}

.header-logo{
    
     border-left: 1px solid rgba(255,255,255,.3) ;
}

.header-link-item {
     padding: 0 1rem 0 1rem;
     display: flex;
     align-items: center;
}

.header-link-item:hover{
     color:var(--header-item-color-hover) ;
}


