html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font Style */
@font-face{
	src: url(/src/assets/Fonts/IranSans.ttf);
	font-family: iranSans ;
}

@font-face {
	font-family: swiper-icon ;
	src: url(/src/assets/Fonts/swiper-icons.ttf);
}
/* Common Style*/

html {
	--header-backgroung : rgba(0,0,0,.8);
	--header-text-color : #E0E0E0;
	--header-item-color-hover : #f9ad03;
	--header-backgroung-btn-licence : #1cb561;
	--header-backgroung-btn-licence-hover : #17924E;
	--header-backgroung-btn-login : #363636;
	--header-backgroung-btn-login-hover :#434242;
	--header-background-hidden-item : #1A1A1A;
	--body-background : #151515;
	--section-main-switch-cat-color-border : #ffffff1f;
	--section-main-movie-en-color : #a1a1a1;
	--section-main-movie-like-data-color : rgba(77,171,86,.12);
	--section-main-movie-data-color : #282828;
	--section-main-movie : #1cb561;
	--section-device-title-color : #EAEAEA;
	--section-device-describe-color : #d8d8d8;
	--section-tv-btn-background : #606060;
	--section-tv-btn-background-hover : #6f6e6e;
	--section-child-btn-background : #ededed;
	--section-online-background-card : rgba(255,255,255,.06);
	--section-online-border-color-card : #33353d;
	--section-user-card-background : #ffffff05;
	--section-user-name-color : #6D7176;
	--section-user-p-color : #f9f9f9;
	--footer-background : #191919;
	--footer-text-color-item : #959595;
	--footer-text-color-item-hover : #fff;
	--footer-item-background : #474747;
	--footer-text-poster : #DC9B4A;
	--footer-text-item-list-color : rgba(255,255,255,.75);
	--footer-text-gift-color : #959ba2;
	
}

body{
	font-family: iranSans;
	background-color: var(--body-background);
}

