.tv{
     padding: 80px 0px;
     background: rgba(0, 0, 0, .4);
     position: relative;
}

.section-tv{
     padding: 0 100px;
     display: flex;
     flex-direction: row;
    
     
}

.section-tv-img{
     width: 785px;
     bottom: 0;
     left: 0;
     z-index: 0;
     position: absolute;
     margin-left: 0;
}

.section-tv-img img {
     width: 100%;
}

.tv-text{
     max-width: 400px;
     font-size: 11px;
     line-height: 22px;
}

.andtv-img img{
     width: 100%;
}

.tv-btn{
     padding: 10px 16px;
     border-radius: 10px ;
     background-color: var(--section-tv-btn-background);
     fill: #fff;
     width: 240px;
     display: flex;
     align-items: center;
     font-weight: 500;
     text-align: center;
     margin-left: 0;
     font-size: 11px;
}

.tv-btn img {
     transform: rotate(90deg);
     width: 30px;
}

.tv-btn:hover{
     background-color: var(--section-tv-btn-background-hover);
}