.section-free-movie{
     padding: 64px 0px;
}

.free-movie {
     padding: 0px 10%;
     margin: 0 auto;
     max-width: 1440px;
}

.section-free-movie-title{
     font-size: 17px;
     font-weight: 700;
     margin-bottom: 32px;
     color: #fff;
}

.section-free-movie-wrapper{
     overflow: hidden;
     padding: 0px 15px;
     margin: 0px -15px ;
     touch-action: pan-x;
     z-index: 1;
     overflow-x: auto;
     scroll-behavior: smooth;
     position: relative;
}

.section-free-movie-wrapper::-webkit-scrollbar{
     display: none;
}

.section-free-movie-list{
     display: flex;
     justify-content: space-between;
}

.section-free-movie-item {
     margin-left: 30px;
     text-decoration: none;
     min-width:14.5%;
     cursor: pointer;
}


.free-movie-item-poster{
     transition: all .3s ease-in-out;
     margin-bottom: 8px;
     align-self: center;
}

.free-movie-item-poster img {
     width: 100%;
     opacity: .65;
     border-radius: 10px;
     color: transparent;
     user-select: none;
}

.free-movie-item-name{
     font-size: 11px;
     font-weight: 400;
     text-align: right;
     white-space: nowrap !important;
     text-overflow: ellipsis;
     overflow: hidden;
     padding: 4px;
     cursor: pointer;
     color: #fff;
}

.truck-free{
     bottom: unset;
     top: 5px;
     opacity: 1;
     z-index: 3;
}

.free-movie-swiper{
     position:absolute;
}

.before-icon.free-movie-swiper{
     right: 1%;
}

.next-icon.free-movie-swiper{
     left: 1%;
}

/* Responsive part*/

@media screen and (max-width:1100px) {
     .free-movie{
          padding: 0 20px;
     }

     .section-free-movie-item{
          min-width: 17%;
     }
}

@media screen and (max-width:768px) {
     .section-free-movie-item{
          min-width: 19%;
     }
}

@media screen and (max-width:650px) {
     .section-free-movie-item{
          min-width: 21%;
     }
}

@media screen and (max-width:550px) {
     .section-free-movie-item{
          min-width: 28%;
     }
}

@media screen and (max-width:450px) {
     .section-free-movie-item{
          min-width: 47%;
     }
}

/*End of responsive part*/