.section-user-nav{
     padding:64px 0px ;
     position: relative;
}

.section-user-dev{
     padding: 0px 80px;
     margin: 0 auto;
    
}

.section-user-text{
     display: flex;
     margin-bottom: 24px;
     align-items: center;
     justify-content: space-between;
}

.section-user-text div span {
     font-weight: 700;
     font-size: 17px;
     line-height: 24px;
     text-align: right;
     color: #fff;
}

.section-user-card-list{
     position: relative;
     overflow: hidden;
     overflow-x: auto;
     padding: 0;
     z-index: 1;
     list-style: none;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-direction: row;
}

.section-user-card-list::-webkit-scrollbar{
     display: none;
}

.section-user-card-item{
     width: 28.7%;
     margin-left: 15px;
     background-color: var(--section-user-card-background);
     border: 1px solid #33353d;
     box-shadow: 0 10px 36px #00000040;
     border-radius: 12px;
     flex-shrink: 0;
     padding: 24px;
     height: 100%;
     position: relative;
 
}

.user-name{
     display: flex;
     justify-content: space-between;
     margin-bottom: 16px;
}

.avatar-name{
     display: flex;
     align-items: center;
}

.avatar-name img{
     margin-left: 10px;
}

.avatar-name span{
     color: var(--section-user-name-color);
}

.user-feedback p{
     font-weight: 400;
     line-height: 18px;
     height: 75px;
     font-size: 11px;
     color: var(--section-user-p-color);
     overflow: hidden;
     overflow-y: auto;
     margin-bottom: 16px;
     text-align:right ;
}

.feedback-swiper{
     position: unset;
}

.move-button{
     display: flex;
}
.free-movie-swiper.feedback-swiper{
     margin-left: 5px;
     opacity: 1;
}

/*Responsive Part*/

@media screen and (max-width : 1250px){
     .section-user-card-item{
          width: 28%;
     }
}

@media screen and (max-width : 1110px) {
     .section-user-dev{
          padding: 0px 10px;
          margin: 0 auto;
     }

     .section-user-card-item{
          width: 27%;
     }
}

@media screen and (max-width : 900px){
     .section-user-card-item{
          width: 25%;
     }
}

@media screen and (max-width : 800px){
     .section-user-card-item{
          width: 40%;
     }
}

@media screen and (max-width : 500px){
     .section-user-card-item{
          width: 70%;
     }

     .section-user-text div span {
          font-weight: 600;
          font-size: 14px;
         
     }

     .feedback-swiper{
          width: 30px;
          height: 30px;
     }


     .feedback-swiper::after{
          top: 30%;
     }
     
     .avatar-name span{
          font-size: 14px;
     }
}

/*End of Ressponsive part*/
